.outro {
  position: absolute;
  width: 627px;
  left: 30%;
}
.outro_title {
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 0, 255);
  font-size: 90px;
  margin: 0px;
  transform: translateX(-11px) translateY(-30px) rotate(0.5deg);
}

.outro_big_star {
  transform: translateY(-28px);
}

.outro_small_star {
  transform: translateY(-8px);
}
.outro_mascot {
  transform: translateX(297px) translateY(25px);
}
